﻿@using RazorAndData.Models
@using RazorAndData.Services
@using Microsoft.AspNetCore.Components.Web
@inject JsonFileProductService ProductService




<div class="card-columns">
   
    <div>
        <input type="text" @bind="first" />
        <label for="plus">+</label>
        <input type="text" @bind="second" />
        <label for="total">=</label>
        <input type="text" @bind=@result />

        <button @onclick="(e => Sum())">
            Sum
        </button>
    </div>
    <button @onclick="(e => Check())">
        Check
    </button>

    @foreach (var product in ProductService.GetProducts())
    {
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@product.Title</h5>
                <h5 class="card-title">@counter</h5>

            </div>
            <div class="card-footer">
                <small class="text-muted">
                    <button @onclick="(e => SelectProduct(product.Id))"
                            data-toggle="modal" data-target="#productModal" class="btn btn-primary">
                        More Info
                    </button>
                    <button @onclick="(e => Increase() )" class="btn btn-primary">
                        Increase @counter
                    </button>
                    <button @onclick="(e => Decrease() )" class="btn btn-primary">
                        Decrease @counter
                    </button>
                </small>
            </div>
        </div>
    }
</div>

@if (selectedProduct != null)
{
    <div class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-labelledby="productTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="productTitle">@selectedProduct.Title</h5>&nbsp;
                    <input type="text" @bind=@newTitle />&nbsp;
                    <button @onclick="(e =>changeTitle (newTitle))">
                        Change Title!
                    </button>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="card">

                        <div class="card-body">
                            <p class="card-text">@selectedProduct.Body</p>
                            <p class="card-text">Id: @selectedProduct.Id</p>
                            <p class="card-text">UserId: @selectedProduct.UserId</p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button @onclick="(e =>deleteRating ())">
                        Delete Rating
                    </button>
                    
                    @if (voteCount == 0)
                    {
                        <span>Be the first to vote!</span>
                    }
                    else
                    {
                        <span>@voteCount @voteLabel</span>
                    }
                    @for (int i = 1; i < 6; i++)
                    {
                        var currentStar = i;
                        if (i <= currentRating)
                        {
                            <span class="fa fa-star checked" @onclick="(e => SubmitRating(currentStar))"></span>
                        }
                        else
                        {
                            <span class="fa fa-star" @onclick="(e => SubmitRating(currentStar))"></span>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

@code
{
    String newTitle = "";

    void changeTitle(string newTitle)
    {
        selectedProduct.Title = newTitle;
        ProductService.ChangeTitle(selectedProductId, newTitle);
        SelectProduct(selectedProductId);
    }




    int first = 1;
    int second = 0;
    int result = 0;

    void Sum()
    {
        result = first + second;
        System.Diagnostics.Debug.WriteLine(result);
    }

    int counter = 0;
    void Increase()
    {
        counter++;
        first++;
    }

    void Decrease()
    {
        counter--;
        first--;
    }

    void Check()
    {
        System.Diagnostics.Debug.WriteLine(first);
    }

    Product selectedProduct;
    int selectedProductId;

    void SelectProduct(int productId)
    {
        selectedProductId = productId;
        selectedProduct = ProductService.GetProducts().First(x => x.Id == productId);
        GetCurrentRating();
    }

    int currentRating = 0;
    int voteCount = 0;
    string voteLabel;

    void GetCurrentRating()
    {
        if (selectedProduct.Ratings == null)
        {
            currentRating = 0;
            voteCount = 0;
        }
        else
        {
            voteCount = selectedProduct.Ratings.Count();
            voteLabel = voteCount > 1 ? "Votes" : "Vote";

            if (selectedProduct.Ratings.Count() > 0)
            {
                currentRating = selectedProduct.Ratings.Sum() / voteCount;
            }
            else
            {
                currentRating = 0;
            }

        }

        System.Console.WriteLine($"Current rating for {selectedProduct.Id}: {currentRating}");
    }

    void SubmitRating(int rating)
    {
        System.Console.WriteLine($"Rating received for {selectedProduct.Id}: {rating}");
        ProductService.AddRating(selectedProductId, rating);
        SelectProduct(selectedProductId);
    }


    void deleteRating()
    {
        voteCount = 0;
        ProductService.ClearRating(selectedProductId);
    }

}